/.ipynb_checkpoints/
/.idea/
/.DS_Store
/rawData/forObjectPred/.DS_Store
/rawData/history/.DS_Store
/rawData/inputs/.DS_Store
/rawData/inputs/humanJN/.DS_Store
/rawData/modelSaves/.DS_Store
/rawData/inputs/human/.DS_Store
/rawData/inputs/monkey/.DS_Store
